<h1>Edit Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %> |
<%= link_to @blog.status.slice(0, 1).upcase + @blog.status.slice(1..-1), toggle_status_blog_path %>
