     <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Dev Notebook</h1>
        <p class="lead blog-description">A landing page for blogs, tips, and scribblings from my development journey.</p>
        <%= link_to 'New Blog', new_blog_path, class: @button || "btn btn-primary" if admin%>
      </div>
    </div>