<div class=" offset-sm-1 col-sm-3 blog-sidebar">

          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>

          <div class="sidebar-module elsewhere">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href = "https://github.com/KarpeNoktum" target= "_blank"><%= fa_icon 'github', class: "sidebar_icon" %></a></li>
              <li><a href="https://twitter.com/PopPunk_Trash94" target="_blank"><%= fa_icon 'twitter', class: "sidebar_icon" %></a></li>
              <li><a href="https://www.facebook.com/josh.beere.1" target="_blank"><%= fa_icon 'facebook-official', class: "sidebar_icon" %></a></li>
            </ol>
          </div>
</div>