<div class = "page-container" id= "about">
	<h1 class = "page-heading">About Me </h1>
	<hr style = "background-color: white; width: 50%" >

	<div class = 'row'>
		<div class = "col-md-6 page-content">
			<img id = "about-image" src = "https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-9/22008345_1687644701247375_6016671789732277192_n.jpg?oh=befe2fbf6a2ffdbec0c29aa88fb7a7ba&oe=5AD5AF61">


			<br>
			<br>

			<!-- <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>

			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>

			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>

			<p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p> -->


		</div>
		<div class = "col-md-6 page-content">

		<pre style = "text-anchor: left;"> <span style= "color: maroon;"> def </span> <span style= "color: green;">about_me</span></pre>
			<p>I am a <%= ((Time.now.year) - 1994) %> year old husband and father from Michigan.</p>

			<p>Technology is my passion. I have always been fascinated with computers and what makes them tick. I have previously tinkered with code as a hobby and i decided to turn my hobby into a career by enrolling at Bottega Tech in 2017. I have since developed a great interest in back-end web development and have thoroughly enjoyed learning the Ruby on Rails framework along with other technologies that make web design dynamic and easily executable.</p>


			



			<pre style = "color: maroon">end</pre>
		</div>
	</div>

</div>