
<div class = "page-container">
	<h1 class = "page-heading">Would you like to work together?</h1>
	<hr style = "background-color: white; width: 50%" >


		<div class = 'row'>
			<div class = 'col-md-6 page-content'>

				<h4>Home</h4>
					<p>1909 Meadowview Dr., Kalamazoo, MI 49009</p>
				<h4>Phone</h4>
					<p>(269)267-7319</p>
				<h4>E-Mail</h4>
					<p>officialkarpenoktum@gmail.com</p>


				<h3>Or visit me on: </h3>

					<div class = "row">

						<div class = "col-md-4">
							<a href="https://www.facebook.com/josh.beere.1" target = "
						_blank"><%= fa_icon "facebook-official", class: "soc-link" %></a>
						</div>

						<div class = "col-md-4">
							<a href="https://www.linkedin.com/in/joshua-beere-944b66152/" target = "
					_blank"><%= fa_icon 'linkedin', class: "soc-link" %></a>
						</div>

						<div class = "col-md-4">
							<a href="https://github.com/KarpeNoktum" target = "
					_blank"><%= fa_icon 'github', class: "soc-link" %></a>
						</div>

					</div>
			</div>


			<div class = "col-md-6 page-content">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2510.217188496249!2d-85.63633444949353!3d42.27228389853168!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881777ad4ea7b6cf%3A0x665cf2179eec95fa!2s1909+Meadow+View+Dr%2C+Kalamazoo%2C+MI+49008!5e1!3m2!1sen!2sus!4v1511508060928" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
</div>

