




<div class="inner cover">
 <h1 class="cover-heading">Welcome to my portfolio!</h1>
 <p class="lead">Take a look around using the navbar above or jump to a random section by pressing the button below</p>
 <p class="lead">
   <%= link_to "Surprise Me", @page, class: "btn btn-lg btn-secondary" %>
 </p>
 </div>
